.card-ponds{
  
    .ponds-collapse{
        background-color: #fff;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
      
    }
      
     .smile_icon{
            width: 32px;
            height: 32px;
    }

    .ponds-list{
        width: 92%;
        min-height: 54px;
        margin-right: 20px;
        margin-left: 14px;
        margin-top: 20px;
  
       
    }
   
    .ammonoia-content{
        width: 92%;
        height: 54px;
        padding: 12px 26px 12px 13px;
        border-radius: 27px;
        background-color: #edf5ff;
        margin-right: 20px;
        margin-left: 14px;
        margin-top: 20px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }

    .tear {
        width: 38px;
        height: 110px;
        margin-right: 15px;
        // border-radius: 0 50% 50% 50%;
        // border: 3px solid rgb(0, 0, 0);
        // transform: rotate(45deg);
        // margin-top: 20px;
      }


      .ponds-progress-bar{
        width: 26px;
        height: 110px;
        background-color: #ebebeb;
        border-radius: 12px;
        position: relative;
        margin-right: 15px;
      }
      .ponds-progress-bar-in{
        width: 26x;
        height: 30px;
        background-color: #2a8be0;
        border-radius: 12px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        bottom: 0;
        position: absolute;
      }

      .line-ponds{
        width: 2px;
        height: 40px;
        background-color:#cdd9e9;

      }
    
   

    
   
    &.ponds-body{
        border-radius: $border-radius-extreme;
        box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
        background-color: #FFFFFF;
        color: $card-black-color;
        margin-bottom: 20px;
        position: relative;
        border: 0 none;
        width: 100%;
        margin-top: 5%;
        -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
        padding: 25px 0px;
        padding-top: 12px;
    }
      
    .ponds-header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -18px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 10px 20px;
    }

    span{
    


    }
    p{
     
        line-height: 20px;
         

            &.ponds-text{
              
                margin-top: -10px;
            }
      
    }


    .blue{
        color:#1e76fe;
    }


  }
  