.card{
  border-radius: $border-radius-extreme;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  color: $card-black-color;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;

  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;

    .card-body{
        padding: 15px 15px 10px 15px;

        &.table-full-width{
            padding-left: 0;
            padding-right: 0;
        }
    }

    .card-header{
      &:not([data-background-color]){
        background-color: transparent;
      }
      padding: 15px 15px 0;
      border: 0;

      .card-title{
          margin-top: 10px;
      }
    }

    .map{
        border-radius: $border-radius-small;

        &.map-big{
          height: 400px;
        }
    }

    &[data-background-color="orange"]{
        background-color: $primary-color;

        .card-header{
            background-color: $primary-color;
        }

        .card-footer{
            .stats{
                color: $white-color;
            }
        }
    }

    &[data-background-color="red"]{
        background-color: $danger-color;
    }

    &[data-background-color="yellow"]{
        background-color: $warning-color;
    }

    &[data-background-color="blue"]{
        background-color: $info-color;
    }

    &[data-background-color="green"]{
        background-color: $success-color;
    }

    .image{
        overflow: hidden;
        height: 200px;
        position: relative;
    }

    .avatar{
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 15px;
    }

    .numbers {
      font-size: 2em;
    }

    .big-title {
      font-size: 25px;
      text-align: center;
      font-weight: 500;
      padding-bottom: 15px;
    }
    .big-title2 {
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        padding-bottom: 15px;
      }
    .big-title3 {
        font-size: 15px;
        text-align: left;
        font-weight: 500;
        padding-bottom: 10px;
      }
      .big-title4 {
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        padding-bottom: 10px;
      }
      .big-title5 {
        font-size: 25px;
        text-align: left;
        font-weight: 500;
        padding-bottom: 10px;
      }
    

    label{
        font-size: $font-size-small;
        margin-bottom: 5px;
        color: $dark-gray;
    }

    .card-footer{
        background-color: transparent;
        border: 0;


        .stats{
            i{
                margin-right: 5px;
                position: relative;
                top: 0px;
                color: $default-color;
            }
        }

        .btn{
            margin: 0;
        }
    }

    &.card-plain{
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;


        .card-body{
            padding-left: 5px;
            padding-right: 5px;
        }

        img{
            border-radius: $border-radius-extreme;
        }
    }


 
}

.card-width100{
    width: 415px !important;
    min-height: 100px;
    background-color:"#fff";
    transform:translate3d(0px, 61px, 0px)!important;
    z-index: 999;
    border-width: 0px;
}

.card-creatework{
  width: 100%;
  height: 110px;
  padding: 4px 5px 0 19px;
  border-radius: 10px;
  box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #359bf4;
  background-image: url("../../img/bg-03-wdt-x.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.card-creatework-disable{
    width: 100%;
    height: 110px;
    padding: 4px 5px 0 19px;
    border-radius: 10px;
    box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #359bf4;
    background-image: url("../../img/bg-03-wdt-x-disable.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }

.card-alertwork{
    width: 100%;
    height: 110px;
    padding: 4px 5px 0 19px;
    border-radius: 10px;
    box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #14d4db;
    background-image: url("../../img/filter-bar-ft-farm-nbg.png");
    background-size: 140px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.card-assign{
    width: 90%;
    height: 110px;
    padding: 4px 5px 0 19px;
    border-radius: 10px;
    box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #edf5ff;
    background-image: url("../../img/main-bg-011.png");
    background-size: 130px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}

.card-create-lot{
    width: 90%;
    height: 110px;
    padding: 4px 5px 0 19px;
    border-radius: 10px;
    box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #edf5ff;
    background-image: url("../../img/cricket-bg.png");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
}
.card-problem-head{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 16px;
}
.card-problem-body{
    width: 100%;
    width: 100%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 16px;
}
.card-problem-footer{
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 16px;
}


.card-mention-green{
  width: 100%;
  height: 120px;
  padding: 16px;
  border-radius: 10px;
  background-color: #ddf8f9;
}

.card-mention-gray{
    width: 100%;
    min-height: 120px;
    padding: 16px;
    border-radius: 10px;
    background-color: #f5f5f7;
}

.card-lemonchiffon {
    min-width: 146px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #fff7cf;
} 



.card-mention-orange{
  width: 100%;
  min-height: 120px;
  padding: 16px;
  border-radius: 10px;
  background-color: #fff2e8;
}


.cardcolor-lightcyan{
    width: 298px;
  min-height:  110px;
  padding: 15px 0 0 15px;
  border-radius: 10px;
  background-color: #ddf8f9;
}

.card-notihis-green{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #ddf8f9;
}

.card-notihis-red{
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #FFF2E8;
}

.card-notihis-yellow{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background-color: #FFF7CF;
}

.edit-noti-date{
    width: auto;
    height: 60%;
    margin: 0 16px 20px 28px;
    padding: 9px 20px 8px 21px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.edit-noti-name{
    left: 3%;
    top: 15%;
    transform: translateY(-50%);
}

.edit-noti-time{
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.Line-Dash {
    width: 335px;
    height: 1px;
    margin: 30.5px 1px 14.5px 0;
    border: solid 1px #cdd9e9;
  }



@media screen and (min-width: 359px){
    .card-noti{
        width:360px;
        min-height:430px;
        background-color:#fff;
        z-index: 999;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        .tab-container{
            width: 320px;
            height: 54px;
            margin: 0 0 20px;
            padding: 6px 8px 6px 10px;
            border-radius: 10px;
            background-color: #f5f5f7;
        }
        .tab-active{
            width: 150px;
            height: 42px;
            margin: 0 1px 0 0;
            border-radius: 10px;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .tab-unactive{
            width: 150px;
            height: 42px;
            margin: 0 1px 0 0;
            background-color: transparent;
        }
    }
    
}

@media screen and (min-width: 413px){
    .card-noti{
        width:414px;
        min-height:430px;
        background-color:#fff;


        .tab-container{
            width: 360px;
            height: 54px;
            margin: 0 0 20px;
            padding: 6px 8px 6px 10px;
            border-radius: 10px;
            background-color: #f5f5f7;
        }
        .tab-active{
            width: 180px;
            height: 42px;
            margin: 0 1px 0 0;
            border-radius: 10px;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .tab-unactive{
            width: 180px;
            height: 42px;
            margin: 0 1px 0 0;
            border-radius: 10px;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

    }
    
}

