.drop-down-blue{
    min-width: 146px;
    max-width: 160px;
  height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #edf5ff;
}

.drop-downwork-blue{
  min-width: 100%;
  max-width: 160px;
  min-height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #edf5ff;
}

.drop-downwork-gray{
  min-width: 100%;
  max-width: 160px;
  min-height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #f4f4f4;
}



.drop-downwork-white{
  min-width: 100%;
  max-width: 160px;
height: 46px;
border-width: 0px;
padding: 10px 8px 11px 12px;
border-radius: 10px;
background-color: #fff;
}

.drop-downsearch-worklot{
  width: 100%;
  min-height: 251px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #cdd9e9;
  background-color: #fff;
}
.drop-down-blue-max-w{
    min-width: 146px;
    max-width: 100%;
  height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #edf5ff;
}