.container-header{
    position: fixed;
    top: 82px;
    width: 104%;
    z-index: 100;
    height: 50px;
    // box-shadow: 0 -5px 5px -5px #333;
    left: 0px;
    border-top: 1px solid #cdd9e9;
    // box-shadow: 0 0 6px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.19);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    p{
        &.overview-text-active{
            
        color: #2a8be0;
        width: 100%;
        text-align: center;
        // font-family: $IBM-Plex-Sans-Thai;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        &.overview-text{
            color: white;
            width: 100%;
            text-align: center;
        // font-family: $IBM-Plex-Sans-Thai;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
        &.managework-text{
            color: gray;
            width: 100%;
            text-align: center;
        // font-family: $IBM-Plex-Sans-Thai;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    

        &.managework-text-active{
            color: #2a8be0;
            width: 100%;
            text-align: center;
        // font-family: $IBM-Plex-Sans-Thai;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        }
    }

    .overview-menu-active{
      
        background-color: #fff;
        padding: 0px 0px 0px 0px;
        // display: flex;
        // align-items: center;
        border-bottom: 4px solid #2a8be0;
        position: relative;
    }

    .overview-menu{
        background-color: white;
        padding: 0px 0px 0px 0px;
        position: relative;
    }


    .managework-menu{
        background-color: white;
        padding: 0px 0px 0px 0px;
        position: relative;
        // backgroundColor: "#23343d",
        // padding: '0px 0px 0px 0px',
    }


    .managework-menu-active{
        background-color: white;
        padding: 0px 0px 0px 0px;
        display: flex;
        align-items: center;
        border-bottom: 4px solid #2a8be0;
        position: relative;
    }


}