
  .card-user {
    form {
      .form-group {
        margin-bottom: 20px;
      }
    }
  }
  .loader-content{
    position: absolute;
    z-index: 9999;
    background-color: #0006;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
  }

  .img-person-mini{
    width: 25px;
    height: 25px;
    object-fit: contain;
    background-color: aqua;
    border-radius: 100px;
  }
  .img-person-default{
    width: 40px;
    height: 40px;
    object-fit: contain;
    background-color: aqua;
    border-radius: 100px;
  }
  
  .icon-default{
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .icon-mini{
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

 .crickket_img{
    width: 57px;
    height: 63px;
 }

  .icon-medium{
    width: 90px;
    height: 90px;
    object-fit: contain;
  }

  .icon-minismall{
    width: 18px;
    height: 18px;
    object-fit: contain;
  }

  .icon-mediumlarge{
    width: 135px;
    height: 135px;
    object-fit: contain;
  }

  .icon-Large{
    width:194px;
    height: 194px;
    object-fit: contain;
  }

  .icon-ExLarge{
    width: 220px;
    height: 220px;
    object-fit: contain;
    &.absolute{
      position: absolute;
      
      top: -50px;
  }
  }

  .separate-line{
    display: flex;
    position: relative;
    flex-direction: row;
    height: 40px;
}

.line-dash{
  border: 2px dotted #cdd9e9;
   border-style: none none dashed; 
   color: #fff; 
   background-color: #fff;
   position: absolute;
   width: 100%;
   top: 20px;
      &.not-absolute{
          position: relative;
         top: 0px;
       margin-left: -14px;
       width: 108%;
      }
   }

.half-circle-right{
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 12px;
  border-radius: 150px 0 0 150px;
  background-color: #f5f5f5;
  z-index: 99;
  }

  .half-circle-left{
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 12px;
    border-radius: 0 150px 150px 0;
    background-color: #f5f5f5;
    z-index: 99;
}

  .add-circle-orange{
    width: 40px;
    height: 40px;
    background-color: $orangefat-bg;
    border-radius: 100px;
    background-image: url("../../Assets/img/ico-css-plus.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  .add-circle-darkturquoise{
    width: 30px;
    height: 30px;
    background-color: $darkturquoise;
    border-radius: 100px;
    background-image: url("../../Assets/img/ico-css-plus.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  .remove-circle-darkturquoise{
    width: 30px;
    height: 30px;
    background-color: $darkturquoise;
    border-radius: 100px;
    background-image: url("../../Assets/img/ico-css-minus.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }

  .bg-gray{
    background-color: $bg-gray;
  }

  .mr-0 {
    margin-right: 0 !important;
  }
  
  .mr-1 {
    margin-right: 0.25rem !important;
  }
  
  .mr-2 {
    margin-right: 0.5rem !important;
  }
  
  .mr-3 {
    margin-right: 1rem !important;
  }
  
  .mr-4 {
    margin-right: 1.5rem !important;
  }
  
  .mr-5 {
    margin-right: 3rem !important;
  }
  
  
  .ml-0 {
    margin-left: 0 !important;
  }
  
  .ml-1 {
    margin-left: 0.25rem !important;
  }
  
  .ml-2 {
    margin-left: 0.5rem !important;
  }
  
  .ml-3 {
    margin-left: 1rem !important;
  }
  
  .ml-4 {
    margin-left: 1.5rem !important;
  }
  
  .ml-5 {
    margin-left: 3rem !important;
  }

  .w-50{
    width: 50%;
  }

  .mt-6{
    margin-top: 4rem !important;
  }

  .mt-7{
    margin-top: 5rem !important;
  }
  .mt-8{
    margin-top: 6rem !important;
  }

  .w-45{
    width: 45% !important;
  }
  
  .checkboxes{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #cdd9e9;
    background-color: #fff;
  }
  .checkboxes-xl{
    width: 35px;
    height: 35px;
    border-radius: 6px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #cdd9e9;
    background-color: #fff;
  }


  
.line-dash-vertical{
 width: 1;
 height: 100%;
 border: 2px dotted #cdd9e9;
 border-style: none dashed none none;

     &.not-absolute{
       position: relative;
       top: 0px;
       margin-left: -14px;
       width: 108%;
     }
  }
.line-solid{
    border: 2px dotted #cdd9e9;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 20px;
   &.not-absolute{
       position: relative;
      top: 0px;
    margin-left: -14px;
    width: 108%;
   }

   &.behind{
    z-index: 0;
    width: 80%;
    top: 25px;
    // top: 0px;
}

}

.fixed-bottom{
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 40px;
  z-index: 88;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17px;
  padding-right: 17px;
}

.white{
  color: #fff;
}
.single-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; 
   box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  color: white;
  text-align: center;
  padding-top: 10px;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.border-btm {
  border-bottom: solid 5px #4a90e2
}


.water-level{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.food-level{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

  
  