button,
input,
optgroup,
select,
textarea{
    font-family: $sans-serif-family;
}
h1,h2,h3,h4,h5,h6{
    font-weight: $font-weight-normal;
}

a{
    color: $primary-color;
    &:hover,
    &:focus{
        color: $primary-color;
    }
}
h1, .h1 {
    font-size: $font-size-h1;
    line-height: 1.15;
    margin-bottom: $margin-base-vertical * 2;

    small{
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        opacity: .8;
    }
}
h2, .h2{
    font-size: $font-size-h2;
    margin-bottom: $margin-base-vertical * 2;
}
h3, .h3{
    font-size: $font-size-h3;
    margin-bottom: $margin-base-vertical * 2;
    line-height: 1.4em;
}
h4, .h4{
    font-size: $font-size-h4;
    line-height: 1.45em;
    margin-top: $margin-base-vertical * 2;
    margin-bottom: $margin-base-vertical;

    & + .category,
    &.title + .category{
        margin-top: -10px;
    }
}
h5, .h5 {
    font-size: $font-size-h5;
    line-height: 1.4em;
    margin-bottom: 15px;
}
h6, .h6{
    font-size: $font-size-h6;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}
p{
    &.description{
        font-size: 1.14em;
    }
}

// i.fa{
//     font-size: 18px;
//     position: relative;
//     top: 1px;
// }

.title{
    font-weight: $font-weight-bold;

    &.title-up{
        text-transform: uppercase;

        a{
            color: $black-color;
            text-decoration: none;
        }
    }
    & + .category{
        margin-top: -10px;
    }
}

.description,
.card-description,
.footer-big p,
.card .footer .stats{
    color: $dark-gray;
    font-weight: $font-weight-light;
}
.category,
.card-category{
    text-transform: capitalize;
    font-weight: $font-weight-normal;
    color: $dark-gray;
    font-size: $font-size-mini;
}

.card-category{
    font-size: $font-size-h6;
}

// Color text
.text_blueteal {
   color: $blue-teal;
}
.text_blueroyal {
    color: $blue-royal;
 }
.text_bluebit {
    color: $blue-bit;
 }
 .text_lightblueheader {
   color: $light-blue-header;
 }
.text_dimgray {
    color: $dim-gray;
}
.text_gold {
    color: $gold;
}
.text_darkturquoise{
    color: $darkturquoise;
}
.text_white {
    color: $white-color;
}
.text_black {
    color: $black-color;
}
.text_dodgerblue{
    color: $dodgerblue;
}
.text_orange{
  color: $orange;
}
.text_red{
  color: $new-red;
}
.text_silver{
  color: $silver;
}
.text_tomato{
  color: $tomato;
}
.text_orangefat{
  color: $orangefat;
}
.text_greenteal{
  color: $green-teal;
}
.text_redteal{
  color: $red-teal;
}
.text_gainsboro{
  color: $gainsboro;
}
.text_gray{
  color: $font-color !important;
}
.text_orangefatbg{
  color: $orangefat-bg
}
//  FONT prompt
.prompt_SL {
  font-family: $Prompt !important;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.2px;
}

.prompt_HL {
  font-family: $Prompt !important;
  font-size: 48px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.2px;
}

  .prompt_XXL {
    font-family: $Prompt !important;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .prompt_XL {
    font-family: $Prompt !important;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
   
  }
  .prompt_XL_300 {
    font-family: $Prompt !important;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
   
  }
  .prompt_XL_400 {
    font-family: $Prompt !important;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
   
  }
  .prompt_L {
    font-family: $Prompt !important;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .prompt_L_300 {
    font-family: $Prompt !important;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .prompt_M {
    font-family: $Prompt !important;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .prompt_M_200 {
    font-family: $Prompt !important;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .prompt_L_600 {
    font-family: $Prompt !important;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .prompt_XXXL {
    font-family: $Prompt !important;
    font-size: 50px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }

//  FONT sarabun
.sarabun_XXL {
    font-family: $Sarabun !important;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
    // color: #014b8c;
  }
  .sarabun_XL {
    font-family: $Sarabun !important;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .sarabun_XL_300 {
    font-family: $Sarabun !important;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .sarabun_L {
    font-family: $Sarabun !important;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .sarabun_L_100 {
    font-family: $Sarabun !important;
    font-size: 16px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .sarabun_L_300 {
    font-family: $Sarabun !important;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .sarabun_M {
    font-family: $Sarabun !important;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }

  .sarabun_S_300 {
    font-family: $Sarabun !important;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }
  .sarabun_M_300 {
    font-family: $Sarabun !important;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }

  .sarabun_XXXL {
    font-family: $Sarabun !important;
    font-size: 50px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
  }


.text-primary,
a.text-primary:focus, a.text-primary:hover {
  color: $brand-primary !important;
}
.text-info,
a.text-info:focus, a.text-info:hover {
  color: $brand-info !important;
}
.text-success,
a.text-success:focus, a.text-success:hover {
  color: $brand-success !important;
}
.text-warning,
a.text-warning:focus, a.text-warning:hover {
  color: $brand-warning !important;
}
.text-danger,
a.text-danger:focus, a.text-danger:hover {
  color: $brand-danger !important;
}

.text-gray,
a.text-gray:focus, a.text-gray:hover{
    color: $light-gray !important;
 
}


.blockquote{
    border-left: none;
    border: 1px solid $default-color;
    padding: 20px;
    font-size: $font-size-blockquote;
    line-height: 1.8;

    small{
        color: $default-color;
        font-size: $font-size-small;
        text-transform: uppercase;
    }

    &.blockquote-primary{
        border-color: $primary-color;
        color: $primary-color;

        small{
            color: $primary-color;
        }
    }

    &.blockquote-danger{
        border-color: $danger-color;
        color: $danger-color;

        small{
            color: $danger-color;
        }
    }

    &.blockquote-white{
        border-color: $opacity-8;
        color: $white-color;

        small{
            color: $opacity-8;
        }
    }
}
