// outside paper-dashboard
// @import 'dashboard';
@import 'menuheader';
@import 'variables';
@import 'mainlayout';
@import 'typography';
@import './cards/card-ponds';
@import 'navbar';
@import 'cards/cards.scss';
@import 'modals/modalfull';
@import 'modals/modal';
@import 'misc';
@import 'tags/tag';
@import 'buttons/buttons';
@import 'dropbox/dropdown.scss';
@import 'input/input.scss';
@import 'layout/homedashlayout';
@import 'layout/homemenu';
@import 'layout/workmanage';
@import 'layout/creatework';
@import 'buttons/radiobutton';
@import 'layout/createjobwork';
@import 'layout/calendar';
@import 'modals/addworkcalendar';
@import 'modals/workdetail';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.text-scss{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  border-radius: 10px;
  padding-bottom: 20px;
}

.login {
  height: 100vh;
  background-image: url("../img/00-login-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-login {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ACHETHAI {
  width: 237px;
  height: 23px;
  margin: 20px 61.5px 9px;
  font-family: Mitr;
  font-size: 42px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.55;
  letter-spacing: 3.5px;
  text-align: center;
  color: #fff;
  position: fixed;
  top: 23%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.Cricket-Farming-Mana {
  width: 221px;
  height: 19px;
  margin: 9px 69.5px 146px;
  font-family: Sarabun;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: 0.21px;
  text-align: center;
  color: #005096;
  position: fixed;
  top: 29%;
  left: 32%;
  transform: translate(-50%, -50%);
}
