.btn-confirm{
    width: 220px;
  min-height: 46px;
  padding: 11px 74px 12px 75px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #1e76fe;
}

.btn-miniconfirm{
  width: 140px;
  height: 46px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #1e76fe;
}

.btn-megaminiconfirm{
  width: 100px;
  height: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #348011;
}

.btn-bottom {
  position: absolute;
  bottom: 25px;
  width: 80%;
  left: 10%;
}

.btn-bigconfirm{
  width: 100%;
  height: 46px;
  padding: 11px 49px 12px 50px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #1e76fe;
  text-align-last: center;
}

.btn-minicancle{
  width: 140px;
  height: 46px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #1e76fe;
  background-color: rgba(255, 255, 255, 0);
}

.btn-confirm-100{
  width: 100%;
  height: 48px;
  // padding: 3px 3px 3px 13px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #1e76fe;
}

.btn-cancel-100{
  width: 100%;
  height: 48px;
  // padding: 3px 3px 3px 13px;
  border-radius: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 2px solid #1e76fe;
}


.btn-minisubmit{
  width: 40px;
  height: 40px;
  padding: 8px 6px 8px 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #074cb7;
}


