.modern-radio-container {
    // margin: 24px 0;

    display: flex;
    cursor: pointer;
    user-select: none;
  }
  
  .radio-outer-circle {
    width: 30px;
    height: 30px;
    min-width: 18px;
    min-height: 18px;
    border: 8px solid #359bf4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    transition: all 0.1s linear;
  }
  
  .radio-inner-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.1s linear;
  }
  .unselected {
    border: 2px solid #cdd9e9;
  }
  .unselected-circle {
    width: 0;
    height: 0;
  }
  .helper-text {
    color: #666;
    padding-right: 8px;
    font-family: $Prompt !important;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.2px;
   display: flex;
   align-items: center;
  }
  