.addwork-modal{
    background-color: white;
    min-height: 100vh;
    // height: ;
    .head-content{
        width: 100%;
        min-height: 240px;
        background-color: #359bf4;
        position: relative;
        background-image: url("../../img/bg-04-wcd.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
        padding-left: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
       .text-content{
            position:absolute;
        left: 30%;
        bottom: 15%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction:column
       }
    }
}

