.problem-modal{
    background-color: white;
    min-height: 100vh;
    // height: ;
    .head-content{
        width: 100%;
        min-height: 240px;
        background-color: #ff9056;
        position: relative;
       .text-content{
            position:absolute;
        left: 30%;
        bottom: 22%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction:column
       }
    }
}


.breed-modal{
    background-color: white;
    min-height: 100vh;
    // height: ;
    .head-content{
        width: 100%;
        min-height: 240px;
        background-color: #14d4db;
        position: relative;
       .text-content{
            position:absolute;
        left: 30%;
        bottom: 22%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction:column
       }
    }
}

.infected-modal {
    background-color: white;
    min-height: 100vh;
    // height: ;
    .head-content{
        width: 100%;
        min-height: 240px;
        background-color: #ff9056;
        position: relative;
       .text-content{
            position:absolute;
            left: 26%;
            bottom: 22%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction:column
       }
    }
}

.assign-task-modal {
    background-color: white;
    min-height: 100vh;
    // height: ;
    .head-content{
        width: 100%;
        min-height: 240px;
        background-color: #ffffff;
        position: relative;
       .text-content{
            position:absolute;
            left: 26%;
            bottom: 22%;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction:column
       }
    }
}

.create-lot-modal{
    background-color: white;
    min-height: 100vh;
    // height: ;
    .head-content{
        width: 100%;
        min-height: 240px;
        position: relative;
        background-image: url("../../img/bg-03-wdt-x.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position-x: right;
       .text-content{
            position:absolute;
            left: 5%;
            bottom: 35%;
            justify-content: center;
            align-items: center;
            flex-direction:column
       }
    }
}

.Rectangle-Copy-11 {
    width: 90%;
    height: 104px;
    // margin: 193.5px 12px 63.5px 13px;
    padding: 6.5px 14.8px 7.5px 12px;
    border-radius: 10px;
    background-color: #edf5ff;
    position: absolute;
    left: 5%;
    top: 75%;
    z-index: 50;
    .cricket-dropdown {
        max-width: 90%;
        max-height: 90%;
        position: absolute;
        bottom: 5%;
    }
    .dd-txt {
        position: absolute;
        top: 25%;
        left: 33%;
    }
}


.border-cric {
    width: 1px;
    height: 80px;
    margin: 4.5px;
    border: solid 1px #cdd9e9;
}
  
.downarrow-cric {
    position: absolute;
    top: 36%;
    left: 87%;
}

.tile-bug-select {
    width: 100%;
    max-height: 105px;
    margin: 12px 0 12px;
    padding: 0 0px 0px 0;
    border-bottom-style: inset;
    .cric-img {
        max-height: 105px;
    }
  }
.tile-bug-selects {
    width: 100%;
    max-height: 105px;
    margin: -5px 0 12px 0;
    padding: 0 0px 0px 0;
    border-bottom-style: inset;
    .cric-img {
        max-height: 105px;
    }
}

.custom-breed-bg {
    max-width: -webkit-fill-available;
}
  

.note-headmodal{
    width: 336px;
  height: 70px;
  padding: 23px 254px 23px 16px;
  border-radius: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.head-duplicate-breedmodal{
    width: 100%;
    background-image: url("../../img/allert-bg-noti-bleed.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    // background-position-y: bottom;
    // margin-left: 10px;
    height: 162px;
}
.head-edit-noti-modal{
    width: 100%;
    background-image: url("../../img/popup-bg-farming.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    // background-position-y: bottom;
    // margin-left: 10px;
    height: 140px;
}

.head-edit-noti-alert-modal{
    width: 100%;
    background-image: url("../../img/popup-bg-noti.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    // background-position-y: bottom;
    // margin-left: 10px;
    height: 140px;
}

.head-duplicate-problemmodal{
    width: 100%;
    background-image: url("../../img/allert-bg-noti-urgent.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: right;
    // background-position-y: bottom;
    // margin-left: 10px;
    height: 162px;
}

.spc {
    border-bottom: 8px inset;
}