
.modal-dialog {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  // background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: transparent;
  border-width: 0px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

  .modal-container{
    padding: 12px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border-radius: 10px;
    z-index: 0;
  }

  .modal-subcontainer{

    width: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    background-color: transparent;
    // padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }