
.workdetail-modal{
    width: 100%;
    min-height: 600px;
    background-color: #fff;
    border-radius: 12px;
    // height: ;
}

.adddetail-modal{
    width: 100%;
    min-height: 600px;
    background-color: #fff;
    border-radius: 12px;
    padding-bottom: 160px;
}
.input-pond {
    min-width: 50%;
  min-height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #edf5ff;
}
.input-pond-gray {
    min-width: 50%;
  min-height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.head-banner{
    background-color:#359bf4 ;  
    width: 100%;
    min-height: 110px;
   padding: 17px;
   background-image: url("../../img/popup-bg-dailywork.png");
   background-size: 100%;
   background-repeat: no-repeat;
   background-position-x: right;
   background-position-y: bottom;
   // 
   }
   .card-watch-detail{
    min-width: 126px;
    height: 40px;
    padding: 5px 15px 5px 11px;
    border-radius: 20px;
    background-color: #edf5ff;
    display: flex;
    flex-direction: row;
    align-items: center;
   }
   .card-note{
    width: 100%;
    min-height: 110px;
    padding: 14px 12px 25px;
    border-radius: 10px;
    background-color: #fff7cf;
    display: flex;
    flex-direction: column;
   }
   .card-opacity{
       width: 70px;
       height: 70px;
       padding: 9px 20px 8px 21px;
       border-radius: 10px;
       -webkit-backdrop-filter: blur(10px);
       backdrop-filter: blur(10px);
       box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
       background-color: rgba(255, 255, 255, 0.6);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       line-height: 26px;
   }