.history-tag{
    width: 108px;
  height: 40px;

  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fff7cf;
}


.view-tag{
  min-width: 108px;
  height: 40px;

  padding: 5px 15px;
  border-radius: 20px;
  background-color: #fff7cf;
}

.status-darkturquoise-tag{
  width: 110px;
  min-height: 29px;
  // margin: 20px 15px 10px 3px;
  padding: 5px 0px;
  border-radius: 6px;
  background-color: #0bc3ca;
}



.status-orange{
  min-width: 30px;
  height: 29px;
  padding: 2px 12px 2px 14px;
  border-radius: 6px;
  background-color: #fd5f36;
}

.status-blueteal{
  min-width: 141px;
  height: 46px;
  border-radius: 23px;
  box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: #005096;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-paleturquoise{
  min-width: 135px;
  min-height: 34px;
  padding: 3px 13px 3px 4px;
  border-radius: 23px;
  background-color: #edf5ff;
}

.status-paleturquoise{
  min-width: 141px;
  height: 46px;
  border-radius: 23px;
  background-color: #bdf1ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-active{
  width: 48%;
  height: 55px;
  margin: 0 1px 0 0;
  // box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-bottom: solid 5px $dodgerblue;
}
.tab-unactive{
  width: 48%;
  height: 55px;
  // height: 42px;
  margin: 0 1px 0 0;
  // box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

