:root {
    --fc-border-color: #cdd9e9;
    --fc-daygrid-event-dot-width: 5px;
  }

  
  i{
    
    &.noti{
        color: #4a90e2;
    }
   
}
.card-workdate-detail{
  width: 100%;
  // min-height: 150px;
  padding-left: 25px;
  // padding-right: 16px;
  margin-top: 20px;
  border-right: solid 5px #0bc3ca;
}

.filter-bar{
  width: 100%;
  height: 55px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 0.5px #cdd9e9;
  background-color: #fff;

}
.fc .fc-button .fc-icon{
  color: #aeaeae;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child){
  background-color: #fff;
  color: #aeaeae;
  border: 1px solid #cdd9e9;
  border-right: 0px solid #cdd9e9;

}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child){
  background-color: #fff;
  color: #aeaeae;
  border: 1px solid #cdd9e9;
  border-left: 0px solid #cdd9e9;
}
.card-task-worker{
  width: 100%;
// min-height: 168px;

border-radius: 10px;
background-color: #edf5ff;
}
  .list-job{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    width: 96%;
    background-color: #fff;
    min-height: 50px;
}
.list-filterwork{
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
  padding-left: 47px;
}
.list-worker{
  display: flex;
  flex-direction: column;

}
.input-search-worker{
  width: 100%;
  height: 46px;
  padding: 8px 13px 8px 8px;
  border-radius: 10px;
  background-color: #edf5ff;
  border: solid 0px #fff;
  padding-left: 50px;
  // margin-bottom: 30px;
}

  .fc .fc-toolbar-title{
      color: #005096;
      padding-left: 15px;
  }
  .fc .fc-view-harness {
      min-height: 800px;
  } 

  .fc .fc-daygrid-day-frame {
      height: 40px;
  }
  .fc .fc-daygrid-day-number {
      color: #000;
      text-decoration: none;
  }
  .fc .fc-daygrid-day.fc-day-today{
    background-color: #bcd5eb;
    color: #fff !important;
  }

.fc-scrollgrid-sync-inner{
    border: solid 0px;
}
  .fc-col-header-cell-cushion{
    color: #000;
    text-decoration: none;
  }

  .fc .fc-daygrid-day-bg .fc-highlight{
    background-color: #005096;
    color: #fff !important;
  }

  .fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky>* {
    top: 80px;
}

  .fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
      background-color: transparent;
     border: solid 0px ;
     border-left: solid 3px #359bf4;
     padding-left: 2px;
     margin-bottom: 5px;
     border-radius: 0px;
     height: 20px;
     font-family: $Sarabun !important;
      font-size: 12px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.9;
      letter-spacing: 0.13px;
      color: #4d4d4d;
  }

  .fc .fc-daygrid-more-link {
      color: #000;
}

.fc-day-sun {
  background-color: #edf5ff;
  /*your styles goes here*/
}
.fc-col-header-cell{
  background-color: white;
  border: 1px solid #ddd;
}

.fc-day-other{
  background-color: #edf5ff;
}

.fc .fc-scroller-harness-liquid{
  // margin-top: 28px;
}
.fc-theme-standard .fc-scrollgrid{
  // border-top: 0px solid #fff;
}

.fc-col-header {

  // border-top: 1px solid #ddd;
  // display: flex;
}
.fc-scrollgrid-sync-table{
  height: 550px !important;
}

.fc-daygrid-day{
  height: 50px;
}
.fc-col-header-cell-cushion{
  color: #606060;
  font-family: $Sarabun !important;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.18px;
  text-align: center;
  color: #606060;
}
.fc-daygrid-day-number{
  font-family: $Sarabun !important;
  font-size: 16px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: 0.18px;
  text-align: center;
  color: #606060;
}

  .fc-theme-standard {
  
    & .fc-list-day-cushion {
      background-color: var(--fc-neutral-bg-color);
    }
  
  }
  
  .fc-direction-ltr .fc-list-day-text,
  .fc-direction-rtl .fc-list-day-side-text {
    float: left;
  }
  
  .fc-direction-ltr .fc-list-day-side-text,
  .fc-direction-rtl .fc-list-day-text {
    float: right;
  }
  
  // make the dot closer to the event title
  .fc-direction-ltr .fc-list-table .fc-list-event-graphic { padding-right: 0 }
  .fc-direction-rtl .fc-list-table .fc-list-event-graphic { padding-left: 0 }


  .fc-theme-standard {

    & .fc-list {
      border: 1px solid var(--fc-border-color);
    }
  
  }



  .custom-datepicker{
    width: 200px;
    height: 100px;
    background-color: #005096;
  }

  .cancel_btn{
    width: 24px;
  height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #98b4d6;
  background-color: #bbcde3;
  }

  .box-changedate{
    width: 140px;
    min-height: 35px;
    padding: 3.5px 0 2.5px;
    border-radius: 4px;
    border: solid 0.5px #cdd9e9;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .clear-filter{
    min-width: 130px;
    height: 40px;
    padding: 10px 13px;
    border-radius: 20px;
    background-color: #edf5ff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-righticon{
    width: 40px;
    height: 40px;
    padding: 8px 6px 8px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #074cb7;
    position: absolute; 
    right: 0px;
  }






  



