.creatework-layout{
    background-color: white;

    .list-splitlot{
        display: flex;
        flex-direction: row;
        margin-top: 13px;
        white-space: nowrap;
        overflow-x: visible;
        overflow-y: hidden;
        width: 96%;
        background-color: #fff;
        min-height: 50px;
      
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // width: 100%;
        // overflow: scroll;
    
    }

    .btn-select-day{
        width: 35px;
        height: 35px;
        padding: 6px 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-selected-day{
        width: 35px;
        height: 35px;
        padding: 6px 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #005096;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .btn-add-worklot{
        min-width: 46px;
        height: 46px;
        border-radius: 10px;
        border: dashed 1px #2a8be0;
        background-color: #fff;
        background-image: url("../../img/ico-css-plus-blue.png");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
 
        .head-workmanage{
            width: 100%;
            position: relative;
            // border-bottom-left-radius: 10px;
            // border-bottom-right-radius: 10px;
            // box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
            background-color: #35c6f4;
            background-image: url("../../img/bg-03-wdt-x.png");
            background-size: 100%;
            background-repeat: no-repeat;
            flex-direction: column;
            display: flex;
            height: 194px;
            align-items: center;
            justify-content: center;
        }
        .body-workmanage{
            width: 100%;
            background-color: white;
            padding-left: 20px;
            padding-top: 15px;
            padding-right: 20px;
            margin-bottom: 2rem;
        }

        .worker-date{
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 2rem;
        }
        .bottom-content{
            // position: fixed;
            // bottom: 0px;
            width: 100%;
            min-height: 100px;
            background-color: white;
        
        }
}











