.createjobwork-layout{
    background-color: white;

    .list-job{
        display: flex;
        flex-direction: row;
        margin-top: 13px;
        white-space: nowrap;
        overflow-x: visible;
        overflow-y: hidden;
        width: 96%;
        background-color: #fff;
        min-height: 50px;
      
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // width: 100%;
        // overflow: scroll;
    
    }

  

    .btn-addjobwork{
        min-width: 220px;
        height: 46px;
        border-radius: 12px;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #1e76fe;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .line-bg-gray{
        height: 5px;
        width: 100%;
        background-color: #f5f5f7;
        margin-top: 2px;
    }

 
    
}

.create-jobdisbox{
    width: 100%;
    min-height: 127px;
    border-radius: 10px;
    background-color: #f5f5f7;
    padding: 12px;
 

    .btn-freetext-active{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 42px;
        border-radius: 10px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    .btn-freetext{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 42px;
        border-radius: 10px;
        background-color: #f5f5f7;
    }
    .btn-checklist{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 42px;
        border-radius: 10px;
        background-color: #f5f5f7;
    }
    .btn-checklist-active{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 42px;
        border-radius: 10px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

   
}


.checklist-box{
    width: 100%;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #cdd9e9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}











