.content-dashboard{
    margin-top: 142px;
    padding-left: 17px;
    padding-right: 17px;
    width: auto;
    background-color: #fff;
    min-height: 200px;

    p{
        display: inline-block;
        margin: 0;
      
         
    }

    .cricket-list{
        display: flex;
        flex-direction: row;
        margin-top: 13px;
        white-space: nowrap;
        overflow-x: visible;
        overflow-y: hidden;
        width: 91%;
        .card-cricket01{
            max-width: 220px;
            flex-basis: 220px;
            height: 220px;
            background-color: #359bf4;
            border-radius: 10px;
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 25px;
            &.cricket-bg01{
                background-image: url("../../img/filter-bar-ft-bug-at-nbg-01.png");
                background-size: 110px;
                background-repeat: no-repeat;
                background-position-x: right;
                background-position-y: bottom;
                padding-left: 10px;
            }


            .puddle{
                position: absolute;
                bottom: 0px;
            }

            img{
                position: absolute;
                bottom: 0px;
               right: 0px;
                width: 114px;
                height: 145px;
            }
        }

        .card-cricket02{
            max-width: 220px;
            flex-basis: 220px;
            height: 220px;
            background-color: #14d4db;
            border-radius: 10px;
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 25px;
            &.cricket-bg02{
                background-image: url("../../img/bug-thongdum-04.png");
                background-size: 140px;
                background-repeat: no-repeat;
                background-position: 120px 120px;
                padding-left: 10px;
            }

          


            
            .puddle{
                position: absolute;
                bottom: 0px;
            }

            img{
                position: absolute;
                bottom: 0px;
               right: 0px;
                width: 114px;
                height: 145px;
            }
        }

        .card-cricket03{
            max-width: 220px;
            flex-basis: 220px;
            height: 220px;
            background-color: #14d4db;
            border-radius: 10px;
            position: relative;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 25px;
            &.cricket-bg03{
                background-image: url("../../img/bug-thongdaeng-01.png");
                background-size: 140px;
                background-repeat: no-repeat;
                background-position: 120px 120px;
                padding-left: 10px;
            }

          


            
            .puddle{
                position: absolute;
                bottom: 0px;
            }

            img{
                position: absolute;
                bottom: 0px;
               right: 0px;
                width: 114px;
                height: 145px;
            }
        }

    }
}

.status-warning{
    min-width: 80px;
    height: 29px;
    border-radius: 6px;
    background-color: #fd5f36;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homedash-detail{
    background-color: white;
    min-height: 100vh;
    // height: ;
   
    .head-content{
        width: 100%;
        min-height: 240px;
        background-color: #14d4db;
        position: relative;
        background-image: url("../../img/bg-07-db-a3x.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
        padding-left: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
       .text-content{
            position:absolute;
        left: 30%;
        bottom: 22%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction:column
       }
    }


    .gray-box-ab{
        width: 336px;
        min-height: 201px;
        padding: 16px 4px 21px 2px;
        border-radius: 10px;
        background-color: #f5f5f7;
        position: absolute;
        top: -35px;
    }
    .status-cricket{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        min-height: 350px;
        background-color: #fff;
    }
    .tab-status{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 55px;
        background-color: #fff;
        margin-top: 6px;
    }



    .main-content{
        min-height: 100vh;
    }

    

    .dashboard-list{
        width: 100%;
        min-height: 400px;
        margin-top: 6px;
        background-color: #fff;
    }
}

