.menu-content{
   
    width: 100%;
    background-color: #fff;
    margin-top: 85px;
    // border-top: 4px solid #2a8be0;
    // height: 500,
    // width: '100%',
    // backgroundColor: "#ff0",
    .head-menu-text{
        display: flex;
        flex-direction: column;
        min-height: 200px;

    }
    .body-menu{
        background-color: #f5f5f6;
        width: 100%;
        min-height: 100vh;
        position: relative;
        align-items: center;
        justify-content: center;
    }
     .absolute-contain {
        position: absolute;
        z-index: 1;
        top: -80px;
        min-height: 200px;
        width: 92%;
     }
    .over-all{
        width: 100%;
        height: 243px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #35c6f4;
        background-image: url("../../img/main-bg-01.png");
        background-size: 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .work-manager{
        width: 48%;
        height: 185px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #35c6f4;
        background-image: url("../../img/main-bg-02.png");
        background-size: 187px;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        padding-left: 0.8rem;
        padding-top: 0.8rem;
    }

    .work-manager-disable{
        width: 48%;
        height: 185px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #35c6f4;
        background-image: url("../../img/main-bg-02-disable.png");
        background-size: 187px;
        background-repeat: no-repeat;
        flex-direction: column;
        display: flex;
        padding-left: 0.8rem;
        padding-top: 0.8rem;
    }

    .calendar-card{
        width: 48%;
        height: 185px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #35c6f4;
        background-image: url("../../img/main-bg-03.png");
        background-repeat: no-repeat;
        background-size: 187px;
        flex-direction: column;
        display: flex;
        padding-left: 0.8rem;
        padding-top: 0.8rem;
    }

    .document-card{
        width: 100%;
        height: 81px;
        // padding: 16px 0 0 12px;
        padding-left: 15px;
        border-radius: 10px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffd456;
        margin-top: 25px;
        background-image: url("../../img/main-bg-04.png");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        // 
    }

    .document-card-disable{
        width: 100%;
        height: 81px;
        // padding: 16px 0 0 12px;
        padding-left: 15px;
        border-radius: 10px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffd456;
        margin-top: 25px;
        background-image: url("../../img/main-bg-04-disable.png");
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        // 
    }



    .percent-circle{
        width: 135px;
        height: 135px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}