
.head-workmanage{
    width: 100%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #35c6f4;
    background-image: url("../../img/bg-01-wlt.png");
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    height: 320px;
    align-items: center;
    justify-content: center;
}

.card-report-cricket {
    min-height: 498px;
    padding: 20px 20px 10px;
    border-radius: 13px;
    // box-shadow: 1px 5px 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 80px;

    .FCR-status{
   
            width: 100%;
            height: 54px;
            padding: 12px 28px 12px 14px;
            border-radius: 100px;
            background-color: #edf5ff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          
    }
}
.tab-status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 250px;
    margin-bottom: 4px;
   
}
.status-circle {
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 100px;
     &.absolute{
         position: absolute;
         right: 15px;
         bottom: 35px;
     }
}

.body-workdetail{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.head-workdetail{
    width: 100%;
    position: absolute;
   
    box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #359bf4;
    background-image: url("../../img/bug-sading-01.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 100% 195%;
    flex-direction: column;
    display: flex;
    height: 250px;
    align-items: flex-start;
    justify-content: center;
    top: 0px;
    z-index: 0px;
}

.progress-circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #fff;
    position: absolute;
    bottom: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.1);
}


.cricket-listmanage{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    width: 96%;
    background-color: #fff;
    min-height: 50px;
    margin-left: 13px;
    .cricket-card1{
        width: 219px;
        height: 81px;
        flex-basis: 220px;
        background-color: #359bf4;
        border-radius: 10px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 25px;
        // padding: 4px 0 0 17px;
        border-radius: 20px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #359bf4;
        background-image: url("../../img/bug-sading.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: 135px 5px;
        padding-left: 18px;
    }

    .cricket-card2{
        width: 219px;
        height: 81px;
        flex-basis: 220px;
        background-color: #359bf4;
        border-radius: 10px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 25px;
        border-radius: 20px;
        box-shadow: 0 13px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #14d4db;
        background-image: url("../../img/bug-thongdum-04.png");
        background-size: 100px;
        background-repeat: no-repeat;
        background-position: 135px 5px;
        padding-left: 18px;
    }
}

.head-table{
    width: 100%;
    height: 39px;
    // padding: 8px 37px 7px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #f5f5f7;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.body-worklot-tabel{
    display: flex;
    flex-direction: column;
    width: 100%;
    .card-lotmanage{
        width: 100%;
        min-height: 100px;
        margin-top: 10px;
        padding: 16px 5px 13px 12px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        // border-bottom: solid 0.5px #cdd9e9;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .circle-process{
          width: 50px;
          height: 50px;
          background-color: #359bf4;
          border-radius: 100px;
        }
    }

    .cricket-circle{
        width: 50px;
        height: 50px;
        background-color: #f0f;
        border-radius: 100px;
    }


    .btn-more-detail{
        min-width: 126px;
        height: 45px;
        border-radius: 20px;
        background-color: #edf5ff;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }
      
 
}


.filter-lotmanage{
  
  height: 50px;
//   box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-top: solid 0.5px #cdd9e9;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
//   justify-content: center;
}

.worklot-history{
    background-color: #f5f5f5;

    .box-weight-cricket{
        width: 110px;
        height: 48px;
        padding: 11px 35px 13px 19px;
        border-radius: 100px;
        background-color: #edf5ff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   

}

.list-harvest-filter{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    width: 96%;
    background-color: #fff;
    min-height: 50px;
}

.list-production-lot{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    white-space: nowrap;
    overflow-x: visible;
    overflow-y: hidden;
    width: 96%;
    background-color: #fff;
    min-height: 50px;
}

.bottom-filter {
    position: fixed;
    bottom: 0px;
    width: 100%;
    min-height: 40px;
    border-top: solid 1px #cdd9e9;
    z-index: 88;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    padding-right: 17px;
}


.img-search-icon{
    width: 40px;
    height: 40px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    object-fit: contain;
}

.img-search-icon.active {
    width: 0px;
    height: 0px;
    object-fit: contain;
}

.input-transition{
    background: #FFF;
    border: 1px solid #fff;
    padding: 1px 1px 1px 5px;
    width: 0px;
    height: 32px;
    border-radius: 6px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    position:absolute;
    right:15px;
    z-index: 0;
    // background-image: url("../../img/ico-search3x.png");
    // background-size: 100%;
    // background-repeat: no-repeat;
}
.input-transition.active {
    background: #FFF;
    padding: 1px 1px 1px 5px;
    width:87%;
    height: 32px;
    border: 1px solid #CCCCCC;
}

.btn-choice.active {
    border-radius: 0px !important;
    padding: 0 50px !important;
    background: #203864 !important;
    outline: none;
    
    }




