textarea:focus, input:focus{
    outline: none;
}




.input-task{
    font-family: $Sarabun !important;
    min-width: 300px;
    max-width: 250px;
  height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
}

.input-breed{
    font-family: $Sarabun !important;
    min-width: 146px;
    max-width: 146px;
  height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #edf5ff;
}

.input-breed-name{
    font-family: $Sarabun !important;
    min-width: 146px;
    width: 100%;
    height: 46px;
    border-width: 0px;
    padding: 10px 8px 11px 12px;
    border-radius: 10px;
    background-color: #edf5ff;
}

.input-area-addnote{
    width: 100%;
    min-height: 215px;
    padding: 10px 17px 74px 12px;
    border-radius: 10px;
    background-color: #edf5ff;
    border-width: 0px;
}

.input-splitlot{
    font-family: $Sarabun !important;
    min-width: 100%;
    max-width: 100%;
  height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #edf5ff;
}


.input-jobformat{
    font-family: $Sarabun !important;
    min-width: 100%;
    max-width: 100%;
  height: 46px;
  border-width: 0px;
  padding: 10px 8px 11px 12px;
  border-radius: 10px;
  background-color: #edf5ff;
}

.input-jobdisbox{
  width: 100%;
  height: 50px;
  padding: 6px 175.2px 6px 15.3px;
  border-radius: 10px;
  border: solid 1px #cdd9e9;
  background-color: #f5f5f7;
}
.input-radio{
    min-height: 25px;
}